@import "../../common_variables.scss";

.comment_container {
    margin-bottom: 50px;

    p {
        font-size: 24px;
    }

    textarea {
        display: block;
        padding: 10px;
        width: 80%;
        height: 400px;
        font-size: $pc_text_size
    }
}