@import "../../common_variables.scss";

.links_container {
    margin-bottom: 50px;

    p {
        font-size: 24px;
    }

    .change_input_num {
        display: flex;

        a {
            width: 40px;

            p {
                font-size: 24px;
            }
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 16px;

            textarea {
                display: block;
                padding: 10px;
                width: 80%;
                height: 16px;
                font-size: 16px;
            }
        }
    }
}