html {
    background-color: white;
}

body {
    background-color: #d3a3ff66;
    width: min(600px, 80%);
    height: 800px;
    margin: 50px auto;
    padding: 50px;

    .title {
        font-size: 48px;
        text-align: center;
        margin: 0px;
        margin-bottom: 50px;
    }
}